# Assignment 22

In [1]:
#ans 1:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#ans 2:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
#ans 3:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

ans 4:DataFrame is a two-dimensional tabular data structure in pandas that consists of rows and columns. It is similar to a spreadsheet or SQL table, where each row represents a single observation and each column represents a variable or feature.
|
A DataFrame can be thought of as a collection of Series objects, where each Series represents a column of the DataFrame. The key difference between a DataFrame and a Series is that a Series represents a single column of data, whereas a DataFrame represents multiple columns of data along with their corresponding row labels and column labels.

In [4]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Gender': ['Female', 'Male', 'Male']
}
df = pd.DataFrame(data)
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male

In [5]:
name_series = df['Name']
print(name_series)

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

#ans 5:
Pandas provides a wide range of functions to manipulate data in a DataFrame. Some of the common functions include:

head() and tail(): These functions are used to display the first or last n rows of a DataFrame, respectively. For example, you can use df.head(10) to display the first 10 rows of the DataFrame df.

describe(): This function is used to generate descriptive statistics of the DataFrame, such as mean, standard deviation, minimum and maximum values, and quartiles. For example, you can use df.describe() to generate descriptive statistics of the DataFrame df.

info(): This function is used to display a summary of the DataFrame, including the column names, data types, and number of non-null values. For example, you can use df.info() to display a summary of the DataFrame df.

groupby(): This function is used to group rows of a DataFrame by one or more columns and perform some aggregate function on each group. For example, you can use df.groupby('column_name').mean() to group the rows of the DataFrame df by the values in column_name and calculate the mean of each group.

drop(): This function is used to remove one or more columns or rows from the DataFrame. For example, you can use df.drop('column_name', axis=1) to remove the column named column_name from the DataFrame df.

sort_values(): This function is used to sort the rows of a DataFrame by one or more columns. For example, you can use df.sort_values('column_name') to sort the rows of the DataFrame df by the values in column_name.

apply(): This function is used to apply a function to each element or row of the DataFrame. For example, you can use df['column_name'].apply(lambda x: x**2) to apply the function lambda x: x**2 to each element of the column named

ans 6:
Both Series and DataFrame are mutable in nature, while Panel has been deprecated and is no longer recommended for use in pandas.

In pandas, mutable objects can be modified in-place, meaning that their values can be changed without creating a new object. For example, you can modify a Series or DataFrame by assigning new values to one or more of its elements or columns:

In [6]:
s = pd.Series([1, 2, 3, 4])
s[1] = 5
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df['B'] = [7, 8, 9]

# ans 7:
To create a DataFrame using multiple Series, you can pass a dictionary of Series to the DataFrame constructor. Each Series will become a column in the resulting DataFrame, with the dictionary keys becoming the column names. Here is an example:

In [7]:

s1 = pd.Series(['apple', 'banana', 'cherry'])
s2 = pd.Series([10, 20, 30])
s3 = pd.Series([True, False,True])
df = pd.DataFrame({'fruit': s1, 'quantity': s2, 'in_stock': s3})
print(df)

    fruit  quantity  in_stock
0   apple        10      True
1  banana        20     False
2  cherry        30      True